# basically ignore everything that's not a source or header file
!*.*
!*.h
!*.c
#*.txt
.vs
*.csv

# ignore the compiled binary. 
TCP_client_simple
TCP_server_complex
TCP_server_simple
TCP_client_complex
TCP_client_modem